.body {
  background-image: url("../img/images.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

@media (min-width: 1120px), (min-height: 630px) {
    .body { background-size: auto; }
}

.margin-left {
	margin-left: 20px;
}

.margin-small-left {
	margin-left: 10px;
}

.margin-large-left {
	margin-left: 40px;
}

.margin-right {
	margin-right: 20px;
}

.margin-small-right {
	margin-right: 10px;
}

.margin-large-right {
	margin-right: 40px;
}


.margin-top {
	margin-top: 20px;
}

.margin-small-top {
	margin-top: 10px;
}

.margin-large-top {
	margin-top: 40px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.margin-small-bottom {
	margin-bottom: 10px;
}

.margin-large-bottom {
	margin-bottom: 40px;
}

.margin-top {
	margin-top: 20px;
}

.margin-small-top {
	margin-top: 10px;
}

.margin-large-top {
	margin-top: 40px;
}


.center-right {
	margin-top:100px;
	margin-bottom: 500px;
	margin-left: 700px;
}

.center-start {
	margin-left: 500px;
}

.center-pos {
	margin-top: 100px;
	margin-left:300px;
	margin-bottom:200px;
}

.half-width {
	width: 500px;
}

