@CHARSET "ISO-8859-1";

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background: url(../img/maroonbgimg.jpg);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #80ffff;
}
.navbar-default {
    background: url(../img/navbarimg1.jpg);
    border-color: #e7e7e7;
}

.navbar-submenu {
    background: url(../img/navbarimg6.jpg);
    border-color: #000000;
}


.navbar-default .navbar-nav > li > a {
    color: white;
}

.panel-default > .panel-heading {
  color: #ffffff;
  background: url(../img/navbarimg2.jpg);
  border-color: #ddd;
}
.greybg {
	background-color: #ffffff;
	
}

.modal-info-header {
  background: url(../img/bluebgimg.jpg);
}

.modal-error-header {
  background: url(../img/maroonbgimg.jpg);
}


.error {
	color: #d21813;	
}

.modal-dialog-center { /* Edited classname 10/03/2014 */
    margin: 0;
    position: absolute;
    top: 40%;
    left: 25%;
}